<div class="boards-contents">
  <div class="boards-form">
    <%= form_with(model: @board, local: true) do |f| %>
      <%= f.text_area :content, placeholder: "連絡事項を入力", class:"form-text"%><br>
      <%= f.submit '投稿', class:"send" %>
    <% end %>
  </div>

  <% @boards.each do |board| %>
    <div class="boards-contents-article">
      <h4 class="writer">投稿者：<%= board.user.name %><span><h4>
      <p class="message"><%= board.content %></p>
      <% if Check.find_by(user_id: current_user.id, board_id: board.id)  %>
        <%= link_to board_check_path(board.id, current_user.id), method: :delete do %>
          <i class="fa fa-check on" aria-hidden="true"></i><a class="count"><%= board.checks.count %></a>
        <% end %>
      <% else %>
        <%= link_to board_checks_path(board.id), method: :post do %>
          <i class="fa fa-check off" aria-hidden="true"></i><a class="count"><%= board.checks.count %></a>
        <% end %>
      <% end %>
      <% if current_user.id == board.user_id %>
        <%= link_to board_path(board.id), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      <br><p class="date"><%= board.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
  <% end %>
</div>