<!DOCTYPE html>
<html>
  <head>
    <title>SIESTA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <h1>SIESTA</h1>
      </div>
      <% if user_signed_in? %>
        <div class="header-right">
          お疲れ様です、<%= current_user.name %>さん
          <%= link_to "報告一覧", reports_path, method: :get, class: "btn report-index" %>
          <%= link_to "業務報告", new_report_path, method: :get, class: "btn entry" %>
          <%= link_to "連絡掲示板", boards_path, method: :get, class: "btn bbs" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn login" %>
        </div>
      <% else %>
        <div class="header-right">
          <%= link_to "新規登録", "/users/sign_up", method: :get, class: "btn entry" %>
          <%= link_to "ログイン", "/users/sign_in", method: :get, class: "btn login" %>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>SIESTA</p>
    </footer>
  </body>
</html>
